<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
        <div class="login">
            <div class="message"></div>
            <form action="" method="POST" autocomplete="off">          
                <label>
                    <span>Username: </span>
                    <input class="text" type="text" name="username" value="">
                </label><br />
                 <label>
                    <span>Password: </span>
                    <input class="text" type="password" name="password">
                 </label><br />
                <input type="submit" value="Login"><br />
                <a href="./register">Register</a>
            </form>
        </div>
    </body>
</html>
